<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<img src="https://i.vimeocdn.com/portrait/58832_300x300" >
        {% block body %}{% endblock %}
		toto
        {% block javascripts %}{% endblock %}
    </body>
</html>
